.App {
    text-align: center;
}

.App-logo {
    height: 5rem;
}

.App-header {
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    max-height: 5rem;
    padding-top: 25px;
    position: top;
}

body, html {
    height: 100%;
    margin: 0;
  }
  
  .graphics {
    width: 100%;
    height: auto;
  }

  .bg {
    /* The image used */
    /*background-image: url("img_girl.jpg");*/
  
    /* Full height */
    height: 25%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.color_11 {
    color: #FFFFFF;
}

h1,
.h1 {
    font-family: Tahoma, Geneva, sans-serif;
    margin: auto;
}

.font_2 {
    /* line-height: 1.2; */
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    font-size: 4em;
    /* font: normal normal normal 64px/1.4em avenir-lt-w01_35-light1475496,sans-serif; */
    color: #07081F;
    background-size: cover;
    background-image: url("../../assets/homepage-bg.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.font_7 {
    font: normal normal normal 18px/1.4em futura-lt-w01-light,sans-serif;
    color: #07081F;
    background-size: cover;
    background-image: url("../../assets/homepage-bg.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.App-link {
    color: #09d3ac;
}

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.bg-1{
    background-image: url("../../assets/homepage-bg.JPG");
    color: #ffffff;
    height: 100%;
    line-height: 10;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100%;
    width: 100%;
    z-index: 999;
}

.bg-2{
    background-color: rgb(80, 180, 125);
    color: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 998;
    line-height: 2;
    background-size: cover;
}

.bg-3{
    background-color: white;
    color: #000000;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 997;
    line-height: 2;
    background-size: cover;
}

.bg-4{
    background-color: rgb(80, 180, 125);
    color: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 996;
    line-height: 2;
    background-size: cover;
}

.bg-5{
    background-color: white;
    color: #000000;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 995;
    line-height: 2;
    background-size: cover;
}

.bg-6{
    background-image: url("../../assets/homepage-bg.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    z-index: 999;
    line-height: 2;
    background-size: cover;
}

p {
    color:black;
    text-align: center;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
}

.mybutton {
    background-color: rgb(160,174,38); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 35%;
    /* margin-left: auto; */
    /* float: left; */
    font-family: Tahoma, Geneva, sans-serif;
  }

.mybutton:hover{
    background-color: rgb(162, 175, 47);
}

input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #fda55d;
}

  label {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
  }
.row {
	margin: 1rem;
}

.row:after {
	padding: 1 0rem;
	content: '';
	display: table;
	clear: both;
}
