
.wrapper {
    /** Top padding so that initially, the content is below the header **/
    padding-top: 100px;

}

.header {
    height: 100px;
    width: 100%; /** Use 100% to fill the width of the page **/
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    z-index: 1000
}

img.banner {
    margin: 0 auto;
} 

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
  }
/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
  }
   
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  /* General sidebar styles */
.bm-menu {
    background: rgb(160,174,38);
    padding: 2.5em 1.5em 0;
    font-size: 1.15rem;
    font-family: Tahoma, Geneva, sans-serif;
  }
/* Individual item */
.bm-item {
    display: inline-block;
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /*Ensures that the color of a link does not change color once visited*/
a{
    color: #134e13;
}